.ant-drawer-body {
  background: var(--color-container-primary) !important;
}
.ant-drawer-footer {
  background: var(--color-container-primary) !important;
  border-top: none !important;
}
.drawer-header {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .ant-drawer-body {
    padding: 8px !important;
  }
}
